.App {
  text-align: center;
  color: #ffffff;
}


.body {
  padding: 100px 130px 50px;
  text-align: start;
  background-color: #212529;
  /* position:absolute;  */
  min-height: 80vh;
  top:0; 
  bottom:0; 
  right:0; 
  left:0;
}

.row {
  display: flex;
  flex-direction: row;
}
