nav {
  background-color: #191b21;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 10;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 10%;
  align-items: center;
}

nav a {
  color: #858585;
  font-size: 20px;
  padding-left: 50px;
  cursor: pointer;
  text-decoration: none;
}

nav a:hover {
  color: #ffffff;
}


footer {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #191b21;
  color: #858585;
  justify-content: center;
  align-items: center;
}

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
  height: 40px;
  background-color: #303030;
  border-radius: 8px;
  padding: 0px 15px;
}

.search {
  border-radius: 4px;
  font-size: 15px;
  background-color: transparent;
  border-color: transparent;
  color: #ffffff;
}

input:focus {
  outline: none;
}

select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 150px;
  height: 40px;
  background-color: #303030;
  border-radius: 8px;
  padding: 0px 15px;
  border-color: transparent;
  color: #ffffff;
  -webkit-appearance: none;
  appearance: none;
}

select:focus {
  outline: none;
}

.select-wrapper {
  position: relative;
}

.gray {
  background-color: #858585;
}

.select-wrapper::after {
  content: "▼";
  font-size: 15px;
  top: 11px;
  right: 10px;
  position: absolute;
}


.blue-button {
  background-color: #0f96cd;
  border-color: transparent;
  border-radius: 8px;
  padding: 5px 10px;
  width: 150px;
  height: 40px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.grey-button {
  background-color: #303030;
  border-color: transparent;
  border-radius: 8px;
  padding: 5px 10px;
  width: 150px;
  height: 40px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.dark-button {
  background-color: #5f5c5c;
  border-color: transparent;
  border-radius: 8px;
  padding: 5px 10px;
  width: 150px;
  height: 40px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}
.body-container {
  margin-top: 20px;
  background-color: #3a3939;
  padding: 15px;
  border-radius: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  column-gap: 10px;
}

.grid-item {
  background-color: #303030;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  text-align: center;
  height: 220px;
  width: 155px;
  border-radius: 15px;
  border: 2px solid #3d3d3d;
}


/* pagination */
.pagination {
  display: flex;
  justify-content: center;
}

.pagination>li {
  display: inline-block;
  padding-left: 0;
}

.pagination>li {
  list-style: none;
  border: 0.9px solid;
}

.pagination>li>a,
.pagination>li>span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #2c689c;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}

.pagination>li.active>a {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.pagination>li>a:hover {
  background-color: #218838;
  color: white;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
  margin-left: 0;
  padding: 0px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
  border-bottom-right-radius: 4px;
  margin-right: 0;
  padding: 0px !important;
  border-top-right-radius: 4px;
}

.tournament-container {
  margin-top: 50px;
  background-color: #3a3939;
  padding: 15px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 10px;
}

.tournament-card {
  background-color: #303030;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: center;
  height: 400px;
  width: 320px;
  border-radius: 15px;
  border: 2px solid #3d3d3d;
  margin-bottom: 20px;
}

.action {
  width: fit-content;
  display: flex;
  flex-direction: flex-end;
  justify-content: left;
  align-content: center;
  padding-top: 3px;
}

.action .iconAction {
  cursor: pointer;
  height: 30px;
  width: 30px;
  border: 2px solid #fff;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  
}